lastupdate.tmp
zbxtable
zbxtable.exe
zbxtable.exe~
*/vendor
/swagger/
.idea/
.DS_Store
runtime/*
*.DS_Store
*.idea
*/.DS_Store
*/.idea
*/.vscode
*/bin
*bin
*/test/*
*/test
logs/*
packfile/staticFile.go
/conf/
/web/