#!/bin/bash

# release version
version=1.1.5

CWD=$(cd $(dirname $0)/; pwd)
cd $CWD

usage()
{
	echo $"Usage: $0 {build|pack}"
	exit 0
}

build()
{
	export GO111MODULE=on
  export GOPROXY=https://goproxy.io
	go generate -tags=packfile ./packfile/usePackFile.go
	go build -a -v -tags=packfile -ldflags "-X main.version=${version} -X main.buildTime=`date -u '+%Y-%m-%d_%I:%M:%S%p'` -X main.gitHash=`git rev-parse HEAD`" -o zbxtable main.go
}

pack()
{
	mkdir -p zbxtable-${version}
  cp zbxtable zbxtable-${version}/
  cp zbxtable.service zbxtable-${version}/
	cp zbxtable.init zbxtable-${version}/
	tar zcvf zbxtable-${version}.tar.gz zbxtable-${version}/
}

case "$1" in
	build)
		build $2
		;;
	pack)
		pack $2
		;;
	*)
		usage
esac