[Unit]
Description=zbxtable
After=syslog.target
After=network.target

[Service]
PIDFile=/tmp/zbxtable.pid
User=zbxtable
Group=zbxtable
WorkingDirectory=/usr/local/zbxtable
ExecStart=/bin/bash -c '/usr/local/zbxtable/zbxtable web'

[Install]
WantedBy=multi-user.target